
body {
  margin :0px;
  padding:0px;
  text-align: center;
}

header {
  background-image: url('images/gallery-header.jpg');
  background-size:cover;
  background-position:center;
  width: 100%;
  min-height: 500px;
  position: relative;
}

header img {
  display: none;
}

header::before {
  content: "";
  position: absolute;

  top: 20px;
  left: 20px;

  width: 60px;
  height: 60px;

  background-image: url('images/logo.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  
}

a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

a img {
  width: 200px;
  padding: 5px;
  border-radius: 8px;

  background-image: url('images/heart.png'); 
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 20px;
}

a img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}